{% extends 'layout.html.twig' %}

{% block body %}
      {{ parent() }}
      <br />
      <div class="main container">
        <div class="row well">
          <div class="col-md-6">
            <div class="page-header">
              <h2>Nuevo Fixture</h2>
            </div>
            {{ form_start(form, { 'attr' : {'novalidate': 'novalidate', 'role' : 'form'} }) }}

                <div class="form-group">
                    {{ form_label(form.nombreTorneo, 'Nombre del Torneo') }}
                    {{ form_widget(form.nombreTorneo,{ 'attr' : {'class' : 'form-control'}}) }}
                    <span class="text-danger"> {{ form_errors(form.nombreTorneo) }}</span>
                </div>

                <div class="form-group">
                    {{ form_label(form.fechaInicio, 'Fecha de inicio') }}
                    {{ form_widget(form.fechaInicio,{ 'attr' : {'class' : 'form-control'}}) }}
                    <span class="text-danger"> {{ form_errors(form.fechaInicio) }}</span>
                </div>

                <p>
                  {{ form_widget(form.save, {'label' : 'Generar Fixture', 'attr': {'class': 'btn btn-success'}})  }}
                </p>

            {{form_end(form)}}

          </div>
        </div>
      </div>
{% endblock %}
