{% extends 'layout.html.twig' %}

{% block body %}
  {{ parent() }}
  <br />
  <div class="container">
    <div class="col-md-12">
      <div class="page-header margin-none">
        <h2 class="padding-none">Partidos</h2>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-hover" id="tablaAjustada">
          <thead>
              <tr>
                  <th>Local</th>
                  <th>Visitante</th>
                  <th>Acción</th>
              </tr>
          </thead>
          <tbody>

              {% for partido in partidos %}
                  <tr data-id="{{ partido.id }}">



                      <td>{{partido.equipoLocal}}
                       {% if partido.imagenEL != '' %}
                            <img src="{{ asset('uploads/' ~ partido.imagenEL) }}" style="width:30px;height:30px;" />
                        {% else %}
                            <img src="{{ asset('uploads/noImage.png') }}" style="width:30px;height:30px;" />
                        {% endif %}
                      </td>

                      <td>
                       {% if partido.imagenEV != '' %}
                            <img src="{{ asset('uploads/' ~ partido.imagenEV) }}" style="width:30px;height:30px;" />
                        {% else %}
                            <img src="{{ asset('uploads/noImage.png') }}" style="width:30px;height:30px;" />
                        {% endif %}
                        {{partido.equipoVisitante}}
                      </td>

                      <td class="actions">
                        <a href="{{ path('iaw_partido_edit', {id: partido.id}) }}" class="btn btn-sm btn-info">
                          Editar
                        </a>
                      </td>

                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

{% endblock %}
