{% extends 'layout.html.twig' %}

{% block body %}
  {{ parent() }}
  <br />
  <div class="container">
    <div class="col-md-12">
      <div class="page-header margin-none">
        <h2 class="padding-none">Partidos</h2>
      </div>

              {% for partido in partidos %}

                    {% if loop.first %}
                    <div class="well well-sm" id="wellFecha">{{'Fecha ' ~ partido.nroFecha}}</div>
                    <div class="table-responsive">
                      <table class="table table-hover" >
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                          <tr data-id="{{ partido.id }}">
                          {# Aca va la fila con todo lo que va despues#}

                    {% elseif  partidos[loop.index0 - 1].nroFecha == partido.nroFecha %}
                      {# Insertar una fila mas, no hay cambios#}
                      </tr>
                      <tr data-id="{{ partido.id }}">


                    {% elseif partidos[loop.index0 - 1].nroFecha != partido.nroFecha %}
                      {# Cambio de fecha, cierro la tabla anterior y abro una nueva #}
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="well well-sm" id="wellFecha">{{'Fecha ' ~ partido.nroFecha}}</div>
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                          </tr>
                        </thead>
                        <tbody>
                        <tr data-id="{{ partido.id }}">

                    {% endif %}


                    <td  id="fechaPartido" style="text-align:left;">
                      {{partido.dia ~ ' ' ~ partido.nroDia ~ ' de ' ~ partido.mes}}
                    </td>


                      <td id="equipoLocal" style="text-align: right;">{{partido.equipoLocal}}
                       {% if partido.imagenEL != '' %}
                            <img src="{{ asset('uploads/' ~ partido.imagenEL) }}" style="width:30px;height:30px;" />
                        {% else %}
                            <img src="{{ asset('uploads/noImage.png') }}" style="width:30px;height:30px;" />
                        {% endif %}
                      </td>

                      <td></td>
                      <td></td>
                      <td></td>


                      <td style="text-align: left;">
                       {% if partido.imagenEV != '' %}
                            <img src="{{ asset('uploads/' ~ partido.imagenEV) }}" style="width:30px;height:30px;" />
                        {% else %}
                            <img src="{{ asset('uploads/noImage.png') }}" style="width:30px;height:30px;" />
                        {% endif %}
                        {{partido.equipoVisitante}}
                      </td>

                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>

                      {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR')  %}
                      <td class="actions">
                        <a href="{{ path('iaw_partido_edit', {id: partido.id}) }}" class="btn btn-sm btn-info">
                          Editar
                        </a>
                      </td>
                      {% endif %}

                      {% if loop.last %}
                        {# Cierro el tag de la ultima tabla#}
                      </tr>

                          </tbody>
                        </table>
                      </div>
                      {% endif %}



              {% endfor %}
              {% if partidos is empty %}
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR')  %}
                <h3>No tienes ningun partido pendiente de edición</h3>
                {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY')  %}
                <h3>No se ha cargado el fixture</h3>
                {% endif %}
              {% endif %}

      </div>
    </div>

{% endblock %}
