{% extends 'layout.html.twig' %}

{% block body %}
	{{ parent() }}
	<br />
	<div class="container well">
		<div class="row">
	    <div class="col-md-12">
				<dl>
					<div class="col-md-3">
					</div>
					<div class="col-md-5" style="font-size:large;">
						{{ partido.equipoLocal }}<img src="{{ asset('uploads/' ~ partido.escudoLocal) }}" style="width:75px;height:75px;"></img>
						<img src="{{ asset('public/imagenes/versus.png') }}" style="width:50px;height:50px;margin-left: 1em;margin-right: 1em;"></img>
						<img src="{{ asset('uploads/' ~ partido.escudoVisitante) }}" style="width:75px;height:75px;">{{ partido.equipoVisitante }}</img>
					</div>
					<div class="col-md-4">
					</div>
				</dl>
			</div>
			<div class="col-md-5">
			</div>
			<div class="col-md-2" style="text-align=center";>
				<dl>
					<dt><h2>Local</h2></dt>
					<dd>
							<div class="text-muted" style="font-size:21px;">{{ partido.golesEquipoLocal }}</div>
					</dd>

					<dt><h2>Visitante</h2></dt>
					<dd>
							<div class="text-muted" style="font-size:21px">{{ partido.golesEquipoVisitante }}</div>
					</dd>
				</dl>
			</div>
			<div class="col-md-5">
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<dl>
						<dt><h1><span class="pull-center">Descripcion</span></h1></dt>
						<dd>
								<span class="text-muted pull-center" style="font-size:21px;">{{ partido.descripcion }}</span>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
