{% extends 'layout.html.twig' %}

{% block body %}
	{{ parent() }}
	<br />
	<div class="container well">
		<div class="row">
	    <div class="col-md-2">
				<dl>
					{% if participante.imagePath != '' %}
						<img src="{{ asset('uploads/' ~ participante.imagePath) }}" heigth="150px" width="150px" />
					{% elseif participante.imagePath == ''%}
						<img src="{{ asset('uploads/noImage.png') }}"  heigth="150px" width="150px" />
					{% endif %}
				</dl>
			</div>
			<div class="col-md-7">
				<dl>
					<dt><h3>Nombre</h3></dt>
					<dd>
							{{ participante.name }}
					</dd>

					<dt><h3>Miembros</h3></dt>
					<dd>
							{{ participante.members }}
					</dd>
				</dl>
			</div>
			{% if is_granted('ROLE_ADMIN') %}
			<div class="col-md-3">
	    	<h3>Acciones</h3>
				<p>
		    	<a href="{{ path('iaw_participante_edit', { id: participante.id }) }}" class="btn btn-primary btn-lg btn-block">
		    		<span class="glyphicon glyphicon-edit"></span>
		        	'Editar participante'
				 </a>
				</p>
				{{ include('IAWParticipanteBundle:Participante:forms/form.html.twig', {form: delete_form}) }}
	    </div>
			{% endif %}
		</div>
		<div class="row">
			<div class="col-md-9">
				<dl>
					<dt><h3>Descripcion</h3></dt>
					<dd>
							{{ participante.descripcion }}
					</dd>
				</dl>
			</div>
		</div>
	</div>

{% endblock %}
